config/keys.json
__pycache__/
*.pyc
.env
venv/
**/torch/lib/*dylib
# macOS
.DS_Store

# Python cache
__pycache__/
.cache/

# Log files
logs/

# Audio test files
*.wav
venv310/ 

# Python
venv310/
__pycache__/
*.py[cod]
*.log
*.sqlite3
*.db
.env
.env.*

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
venv310/ 
